spring:
  application:
    name: url-shortener
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: admin
    password: pass
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata

#logging:
#  level:
#    org.flywaydb: DEBUG
#    root: INFO
